+{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@mixin flex($justify, $align, $direction){
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.title{
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 5rem;
}

.gallery{
  @include flex(space-around, center, row);
  .image{
    box-shadow: 5px 5px 10px  rgba(80, 80, 80, 0.5);
    margin: 1rem 0.5rem;
    height: clamp(180px, 21vw, 300px);
    width:clamp(240px, 28vw, 400px);
    transition: transform 250ms linear;
    &:hover{
      transform: scale(1.1);
    }
    img{
      width:100%;
      height:100%;
    }
  }
}
